examples/inject_values.json
[
  {
    "id": "85def706.a55598",
    "type": "inject",
    "z": "17f0ad73.4a3d43",
    "name": "Loaded Inject",
    "props": [
      { "p": "payload.color", "v": "purple", "vt": "str" },
      { "p": "payload.entity_id", "v": "light.hey", "vt": "str" },
      { "p": "payload.effect", "v": "Pulse", "vt": "str" },
      { "p": "payload.switchtype", "v": "24", "vt": "num" },
      { "p": "payload.zwave", "v": "zwave_js", "vt": "str" },
      { "p": "payload.brightness", "v": "4", "vt": "num" },
      { "p": "payload.duration", "v": "10 minutes", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 320,
    "wires": [["361282eb.c5a8fe"]]
  },
  {
    "id": "f81ebd18.15eb6",
    "type": "inject",
    "z": "17f0ad73.4a3d43",
    "name": "Multicast & Color",
    "props": [
      { "p": "payload.color", "v": "[255,255,10]", "vt": "json" },
      { "p": "payload.zwave", "v": "zwave_js", "vt": "str" },
      { "p": "payload.multicast", "v": "true", "vt": "bool" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 360,
    "wires": [["361282eb.c5a8fe"]]
  },
  {
    "id": "361282eb.c5a8fe",
    "type": "inovelli-notification-manager",
    "z": "17f0ad73.4a3d43",
    "name": "",
    "nodeid": "25,26,27",
    "entityid": "fan.living_room_ceiling_fan",
    "zwave": "zwave_js",
    "color": "360",
    "brightness": "10",
    "duration": "255",
    "effect": "3",
    "switchtype": "24",
    "clear": false,
    "multicast": true,
    "x": 380,
    "y": 300,
    "wires": [["13a2fd44f6a6ab14"]]
  },
  {
    "id": "cc63fc55.24c62",
    "type": "inject",
    "z": "17f0ad73.4a3d43",
    "name": "Entity & Color",
    "props": [
      {
        "p": "payload.entity_id",
        "v": "fan.living_room_ceiling_fan",
        "vt": "str"
      },
      { "p": "payload.color", "v": "white", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 240,
    "wires": [["361282eb.c5a8fe"]]
  },
  {
    "id": "acbebc65328c245f",
    "type": "inject",
    "z": "17f0ad73.4a3d43",
    "name": "Inject",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 280,
    "wires": [["361282eb.c5a8fe"]]
  },
  {
    "id": "13a2fd44f6a6ab14",
    "type": "api-call-service",
    "z": "17f0ad73.4a3d43",
    "name": "HA Call Service",
    "server": "6da5295d.82f2c8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "6da5295d.82f2c8",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "legacy": false,
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
