examples/lock_notifications.json
[
  {
    "id": "0774fcd2073fca15",
    "type": "server-state-changed",
    "z": "978218e1.644ff8",
    "name": "Locks LZW36",
    "server": "7931a4b6.dc7fbc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      { "property": "name", "value": "" },
      { "property": "icon", "value": "" }
    ],
    "entityidfilter": "binary_sensor.locks",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 190,
    "y": 260,
    "wires": [["ec71316dfd077e89"]]
  },
  {
    "id": "ec71316dfd077e89",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "",
    "func": "const lock = msg.payload;\nconst lzw31_entities = flow.get(\"lzw31_entities\",\"file\");\nconst lzw36_entities = flow.get(\"lzw36_entities\",\"file\");\nvar color, brightness, effect, duration, switchtype;\n\nswitch (lock) {\n    case \"on\":\n        color = \"Red\";\n        brightness = 5;\n        effect = \"Solid\";\n        duration = \"forever\";\n        switchtype = \"lzw31\";\n        node.send({payload:{entity_id:lzw31_entities,color,brightness,effect,duration,switchtype}});\n        switchtype = \"lzw36\";\n        node.send({payload:{entity_id:lzw36_entities,color,brightness,effect,duration,switchtype}});\n        break;\n    case \"off\":\n        color = \"green\";\n        brightness = 5;\n        effect = \"Pulse\";\n        duration = \"10 seconds\";\n        switchtype = \"lzw31\";\n        node.send({payload:{entity_id:lzw31_entities,color,brightness,effect,duration,switchtype}});\n        switchtype = \"lzw36\";\n        node.send({payload:{entity_id:lzw36_entities,color,brightness,effect,duration,switchtype}});\n        break;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 260,
    "wires": [["c75caf6e267394e8"]]
  },
  {
    "id": "c75caf6e267394e8",
    "type": "inovelli-notification-manager",
    "z": "978218e1.644ff8",
    "name": "",
    "nodeid": "",
    "entityid": "",
    "zwave": "zwave_js",
    "color": 0,
    "brightness": 5,
    "duration": 10,
    "effect": 4,
    "switchtype": 8,
    "clear": false,
    "multicast": true,
    "x": 540,
    "y": 260,
    "wires": [["e92ac60d5d17aa8b"]]
  },
  {
    "id": "019fb0a8175c0390",
    "type": "inject",
    "z": "978218e1.644ff8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 970,
    "y": 260,
    "wires": [["371fecf85c492c36"]]
  },
  {
    "id": "371fecf85c492c36",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "",
    "func": "const zwave_nodes = {\n    17:{\n        entity_id:\"lock.garage_door\",\n        product:\"916\",\n        area:\"Garage\",\n    },\n    18:{\n        entity_id:\"lock.front_door\",\n        product:\"916\",\n        area:\"Basement Hallway\",\n    },\n    19:{\n        entity_id:\"lock.patio_door\",\n        product:\"916\",\n        area:\"Living Room\",\n    },\n    20:{\n        entity_id:\"light.living_room_fan_light_dimmer_light_level\",\n        product:\"LZW36\",\n        area:\"Living Room\",\n    },\n    21:{\n        entity_id:\"\",\n        product:\"ZCOMBO\",\n    },\n    22:{\n        entity_id:\"\",\n        product:\"ZCOMBO\",\n    },\n    23:{\n        entity_id:\"light.garage_door_light\",\n        product:\"LZW42\",\n    },\n    24:{\n        entity_id:\"light.patio_light\",\n        product:\"LZW42\",\n        area:\"Patio\",\n    },\n    25:{\n        entity_id:\"light.bedroom_fan_light_dimmer_light_level\",\n        product:\"LZW36\",\n        area:\"Bedroom\",\n    },\n    26:{\n        entity_id:\"light.guest_bedroom_fan_light_dimmer_light_level\",\n        product:\"LZW36\",\n        area:\"Guest Bedroom\",\n    },\n    27:{\n        entity_id:\"light.office_fan_light_dimmer_light_level\",\n        product:\"LZW36\",\n        area:\"Office\",\n    },\n    28:{\n        entity_id:\"light.hallway_light_switch_2\",\n        product:\"LZW31\",\n        area:\"Living Room\",\n    },\n    29:{\n        entity_id:\"light.office_closet_light_switch\",\n        product:\"LZW31\",\n        area:\"Office\",\n    },\n    31:{\n        entity_id:\"light.guest_bedroom_closet_light_switch\",\n        product:\"LZW31\",\n        area:\"Guest Bedroom\",\n    },\n    36:{\n        entity_id:\"light.ryans_office_light\",\n        product:\"LZW31\",\n        area:\"Ryan's Office\",\n    },\n    37:{\n        entity_id:\"light.hallway_light_switch\",\n        product:\"LZW31\",\n        area:\"Hallway\",\n    },\n    38:{\n        entity_id:\"light.garage_door_light_switch\",\n        product:\"LZW31\",\n        area:\"Garage\",\n    },\n    39:{\n        entity_id:\"light.garage_left_lights\",\n        product:\"LZW31\",\n        area:\"Garage\",\n    },\n    40:{\n        entity_id:\"light.front_door_light_switch\",\n        product:\"LZW31\",\n        area:\"Basement Hallway\",\n    },\n    41:{\n        entity_id:\"light.basement_stairway_light_switch\",\n        product:\"LZW31\",\n        area:\"Basement Hallway\",\n    },\n    42:{\n        entity_id:\"light.basement_hallway_light_switch\",\n        product:\"LZW31\",\n        area:\"Basement Hallway\",\n    },\n    43:{\n        entity_id:\"light.upstairs_stairway_light_switch\",\n        product:\"LZW31\",\n        area:\"Living Room\",\n    },\n    44:{\n        entity_id:\"light.pantry_light_switch\",\n        product:\"LZW31\",\n        area:\"Pantry\",\n    },\n    45:{\n        entity_id:\"light.kitchen_light\",\n        product:\"LZW31\",\n        area:\"Pantry\",\n    },\n    46:{\n        entity_id:\"light.patio_light_switch\",\n        product:\"LZW31\",\n        area:\"Living Room\",\n    },\n    47:{\n        entity_id:\"light.hallway_bathroom_light_switch\",\n        product:\"LZW31\",\n        area:\"Hallway Bathroom\",\n    },\n    48:{\n        entity_id:\"light.bedroom_closet_light_switch\",\n        product:\"LZW31\",\n        area:\"Bedroom\",\n        entityIds:[\n            \"light.bedroom_closet_light\"\n            ],\n    },\n    49:{\n        entity_id:\"light.bathroom_light_switch\",\n        product:\"LZW31\",\n        area:\"Bathroom\",\n    }\n};\n\nflow.set(\"zwave_nodes\",zwave_nodes,\"file\");\n\nconst lzw31_array = [];\nfor (var lzw31 in zwave_nodes) {\n    if (zwave_nodes[lzw31].product === \"LZW31\") {\n        lzw31_array.push(zwave_nodes[lzw31].entity_id)\n    }\n}\nconst lzw31_entities = lzw31_array.join(',');\nflow.set(\"lzw31_entities\",lzw31_entities,\"file\");\n\nconst lzw36_array = [];\nfor (var lzw36 in zwave_nodes) {\n    if (zwave_nodes[lzw36].product === \"LZW36\") {\n        lzw36_array.push(zwave_nodes[lzw36].entity_id)\n    }\n}\nconst lzw36_entities = lzw36_array.join(',');\nflow.set(\"lzw36_entities\",lzw36_entities,\"file\");",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "e92ac60d5d17aa8b",
    "type": "api-call-service",
    "z": "978218e1.644ff8",
    "name": "HA Call Service",
    "server": "7931a4b6.dc7fbc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "7931a4b6.dc7fbc",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "legacy": false,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
