examples/scene_manager.json
[
  {
    "id": "4c98d07672f194e0",
    "type": "server-events",
    "z": "978218e1.644ff8",
    "name": "Z-Wave JS Scenes",
    "server": "7931a4b6.dc7fbc",
    "version": 1,
    "event_type": "zwave_js_value_notification",
    "exposeToHomeAssistant": false,
    "haConfig": [
      { "property": "name", "value": "" },
      { "property": "icon", "value": "" }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 150,
    "y": 4100,
    "wires": [["cdbc5c36d31a7b42"]]
  },
  {
    "id": "cdbc5c36d31a7b42",
    "type": "inovelli-scene-manager",
    "z": "978218e1.644ff8",
    "name": "LZW36",
    "nodeid": "20,25,26,27",
    "zwave": "zwave_js",
    "switchtype": "LZW36",
    "outputs": 18,
    "labels": [
      "Tap on Light Button 1x",
      "Tap on Light Button 2x",
      "Tap on Light Button 3x",
      "Tap on Light Button 4x",
      "Tap on Light Button 5x",
      "Hold on Light Button (3 Seconds)",
      "Release on Light (After Hold) Button",
      "Tap on Light Rocker Up",
      "Tap on Light Rocker Down",
      "Tap on Fan Button 1x",
      "Tap on Fan Button 2x",
      "Tap on Fan Button 3x",
      "Tap on Fan Button 4x",
      "Tap on Fan Button 5x",
      "Hold on Fan Button (3 Seconds)",
      "Release on Fan (After Hold) Button",
      "Tap on Fan Rocker Up",
      "Tap on Fan Rocker Down"
    ],
    "x": 340,
    "y": 4100,
    "wires": [
      ["a26c128157a2d77b"],
      ["270292d1d79e8212"],
      ["060c01f79f6b7691"],
      ["1efbde02124ad849"],
      ["cdaaa8907f8f9ef2"],
      ["94b5dd4bebaeea76"],
      ["f172875fdbe3a237"],
      ["6c6bbd36205fe098"],
      ["6c6bbd36205fe098"],
      ["4dfd573a0650a3d7"],
      ["710520439282f795"],
      ["fbb2f8d4d7ba9afa"],
      ["6a034ee5dab8ce77"],
      ["7a8e5f2cad61893c"],
      ["3a4abaa82c32ed30"],
      ["d204dbcf5e9a9cb2"],
      ["392b20fed5a62176"],
      ["71ce5f98e00bfc6a"]
    ]
  },
  {
    "id": "a26c128157a2d77b",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "Light Button 1x",
    "func": "const node_id = parseInt(msg.payload.event.node_id);\nconst ha = global.get('homeassistant').homeAssistant.states;\nvar kelvin = parseInt(ha[\"input_number.color_temperature\"].state);\nvar effect;\nconst entityDict = {\n    20: \"light.living_room_lights\",\n    25: \"light.bedroom_lights\",\n    26: \"light.guest_bedroom_lights\",\n    27: \"light.office_lights\"\n}\nconst entity_id = entityDict[node_id];\nnode.send({payload:{\n    domain:\"light\",\n    service:\"toggle\",\n    data:{\n        entity_id,\n        brightness_pct:100,\n        ...kelvin,\n        ...effect\n    }\n}});",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 3860,
    "wires": [["ea4ad9d67deded68"]]
  },
  {
    "id": "270292d1d79e8212",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "Light Button 2x",
    "func": "const node_id = parseInt(msg.payload.event.node_id);\nconst ha = global.get('homeassistant').homeAssistant.states;\nvar kelvin = parseInt(ha[\"input_number.color_temperature\"].state);\nvar effect;\nconst entityOn = {\n    20: \"light.living_room_lights\",\n    25: \"light.bedroom_lamps\",\n    26: \"light.guest_bedroom_lights\",\n    27: \"light.office_lights\"\n}\nconst entityOff = {\n    25: \"light.bedroom_fan_lights\",\n}\n\nvar entity_id = entityOn[node_id];\n\n//const entity_id = \"light.bedroom_lights\";\n\nnode.send({payload:{\n    domain:\"light\",\n    service:\"turn_on\",\n    data:{\n        entity_id,\n        brightness_pct:50,\n        ...kelvin,\n        ...effect\n    }\n}});\nif (entityOff[node_id]) {\n    entity_id = entityOff[node_id]\n    node.send({payload:{\n        domain:\"light\",\n        service:\"turn_off\",\n        data:{\n            entity_id\n        }\n    }})\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 3880,
    "wires": [["8195335620815afc"]]
  },
  {
    "id": "060c01f79f6b7691",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "Light Button 3x",
    "func": "const node_id = parseInt(msg.payload.event.node_id);\n//const ha = global.get('homeassistant').homeAssistant.states;\n//var kelvin = parseInt(ha[\"input_number.color_temperature\"].state);\n//var effect;\nconst entityDict = {\n    20: \"switch.living_room_party_mode\",\n    25: \"switch.bedroom_party_mode\",\n    26: \"switch.guest_bedroom_party_mode\",\n    27: \"switch.office_party_mode\"\n}\nconst entity_id = entityDict[node_id];\nnode.send({payload:{\n    domain:\"switch\",\n    service:\"toggle\",\n    data:{\n        entity_id,\n    }\n}});",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 3920,
    "wires": [["8c62579d860ee686"]]
  },
  {
    "id": "1efbde02124ad849",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Light Button 4x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 3940,
    "wires": [["fd7042d7d0119d16"]]
  },
  {
    "id": "cdaaa8907f8f9ef2",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Light Button 5x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 3980,
    "wires": [["38594f74de8f8c32"]]
  },
  {
    "id": "94b5dd4bebaeea76",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "Hold Light Button",
    "func": "const ha = global.get('homeassistant').homeAssistant.states;\nfor (let entity_id in ha) {\n    if (entity_id.includes(\"lock.\") && ha[entity_id].state === \"unlocked\") {\n        node.send({payload:{\n            domain:\"lock\",\n            service:\"lock\",\n            data:{\n                entity_id\n            },\n        }})\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 4000,
    "wires": [["a9001a024dff2fc3"]]
  },
  {
    "id": "f172875fdbe3a237",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Release Light",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 4040,
    "wires": [["854c5c3029aabfa2"]]
  },
  {
    "id": "6c6bbd36205fe098",
    "type": "function",
    "z": "978218e1.644ff8",
    "name": "Light Rocker",
    "func": "const node_id = parseInt(msg.payload.event.node_id);\nconst button = parseInt(msg.payload.event.property_key);\nconst ha = global.get('homeassistant').homeAssistant.states;\nconst kelvin = parseInt(ha[\"input_number.color_temperature\"].state);\n\nconst buttonMap = {\n    3:20,\n    4:-20\n}\nconst entityMap = {\n    20: \"light.living_room_lights\",\n    25: \"light.bedroom_lights\",\n    26: \"light.guest_bedroom_lights\",\n    27: \"light.office_lights\"\n}\nconst entity_id = entityMap[node_id];\nconst brightness_step_pct = buttonMap[button];\nnode.send({payload:{domain:\"light\",service:\"turn_on\",data:{entity_id,brightness_step_pct,...kelvin}}})\n/*for (var x in ha[entity].attributes.entity_id) {\n    var entity_id = ha[entity].attributes.entity_id[x];\n    if (ha[entity_id].state === \"on\") {\n        node.send({payload:{domain:\"light\",service:\"turn_on\",data:{entity_id,brightness_step_pct,...kelvin}}})\n    }\n}*/",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 4060,
    "wires": [["c96f4ce02f424bda"]]
  },
  {
    "id": "4dfd573a0650a3d7",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Button 1x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 4100,
    "wires": [["f4374471cc7d0cdb"]]
  },
  {
    "id": "710520439282f795",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Button 2x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 4120,
    "wires": [["eea535f72667d4b3"]]
  },
  {
    "id": "fbb2f8d4d7ba9afa",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Button 3x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 4160,
    "wires": [["49ecb68dcafbabac"]]
  },
  {
    "id": "6a034ee5dab8ce77",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Button 4x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 4180,
    "wires": [["3baf742542f0dbd2"]]
  },
  {
    "id": "7a8e5f2cad61893c",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Button 5x",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 4220,
    "wires": [["a8b87cb95d580e46"]]
  },
  {
    "id": "3a4abaa82c32ed30",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Hold Fan Button",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 4240,
    "wires": [["3aa89c72085bd7e3"]]
  },
  {
    "id": "d204dbcf5e9a9cb2",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Release Fan Button",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 4280,
    "wires": [["d23e864814b3168c"]]
  },
  {
    "id": "392b20fed5a62176",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Rocker Up",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 4300,
    "wires": [["355a5b44e7d749ec"]]
  },
  {
    "id": "71ce5f98e00bfc6a",
    "type": "function",
    "z": "978218e1.644ff8",
    "d": true,
    "name": "Fan Rocker Down",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 4340,
    "wires": [["4fcf6aff851582fe"]]
  },
  {
    "id": "1e0fe8c5f8f6282b",
    "type": "api-call-service",
    "z": "978218e1.644ff8",
    "name": "HA Call Service",
    "server": "7931a4b6.dc7fbc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1220,
    "y": 4080,
    "wires": [[]]
  },
  {
    "id": "4b060c44bf2e033e",
    "type": "link in",
    "z": "978218e1.644ff8",
    "name": "",
    "links": [
      "ea4ad9d67deded68",
      "8c62579d860ee686",
      "38594f74de8f8c32",
      "854c5c3029aabfa2",
      "f4374471cc7d0cdb",
      "49ecb68dcafbabac",
      "a8b87cb95d580e46",
      "d23e864814b3168c",
      "8195335620815afc",
      "fd7042d7d0119d16",
      "a9001a024dff2fc3",
      "c96f4ce02f424bda",
      "eea535f72667d4b3",
      "3baf742542f0dbd2",
      "3aa89c72085bd7e3",
      "355a5b44e7d749ec",
      "4fcf6aff851582fe"
    ],
    "x": 1095,
    "y": 4080,
    "wires": [["1e0fe8c5f8f6282b"]]
  },
  {
    "id": "ea4ad9d67deded68",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 3860,
    "wires": []
  },
  {
    "id": "8c62579d860ee686",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 3920,
    "wires": []
  },
  {
    "id": "38594f74de8f8c32",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 3980,
    "wires": []
  },
  {
    "id": "854c5c3029aabfa2",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4040,
    "wires": []
  },
  {
    "id": "f4374471cc7d0cdb",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4100,
    "wires": []
  },
  {
    "id": "49ecb68dcafbabac",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4160,
    "wires": []
  },
  {
    "id": "a8b87cb95d580e46",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4220,
    "wires": []
  },
  {
    "id": "d23e864814b3168c",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4280,
    "wires": []
  },
  {
    "id": "8195335620815afc",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 3880,
    "wires": []
  },
  {
    "id": "fd7042d7d0119d16",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 3940,
    "wires": []
  },
  {
    "id": "a9001a024dff2fc3",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4000,
    "wires": []
  },
  {
    "id": "c96f4ce02f424bda",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4060,
    "wires": []
  },
  {
    "id": "eea535f72667d4b3",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4120,
    "wires": []
  },
  {
    "id": "3baf742542f0dbd2",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4180,
    "wires": []
  },
  {
    "id": "3aa89c72085bd7e3",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4240,
    "wires": []
  },
  {
    "id": "355a5b44e7d749ec",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 995,
    "y": 4300,
    "wires": []
  },
  {
    "id": "4fcf6aff851582fe",
    "type": "link out",
    "z": "978218e1.644ff8",
    "name": "",
    "links": ["4b060c44bf2e033e"],
    "x": 735,
    "y": 4340,
    "wires": []
  },
  {
    "id": "7931a4b6.dc7fbc",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "legacy": false,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
